# Vaultwarden
VAULTWARDEN_PORT=25010
VAULTWARDEN_DOMAIN="https://pass.sokhib.dev"  # !!! Change this to your real HTTPS URL (domain) !!!
# echo -n 'VAULTWARDEN_ADMIN_PASSWORD123' | argon2 "$(openssl rand -base64 32)" -e -id -k 65540 -t 3 -p 4
VAULTWARDEN_ADMIN_TOKEN='$argon2id$v=19$m=65540,t=3,p=4$UGpNa0ZkZndFMVN1QkpFNm5kVlpuM3d2b2ZjNm01TWNCSTZOM0NscVVoVT0$f/Jix514lHbuU9tIo+1GmTpy76zigq1bT1UXxTpcyZs'

## --- SMTP Configs --- ##
# VAULTWARDEN_SMTP_HOST="smtp.example.com"
# VAULTWARDEN_SMTP_PORT=465
# VAULTWARDEN_SMTP_SECURITY="force_tls"  # none, starttls, force_tls
# VAULTWARDEN_SMTP_USERNAME="user@example.com"
# VAULTWARDEN_SMTP_PASSWORD="VAULTWARDEN_SMTP_PASSWORD123"
# VAULTWARDEN_SMTP_FROM="noreply@example.com"
# VAULTWARDEN_SMTP_FROM_NAME="Vaultwarden"

